#c++
*.exe
*.o
*~
*.txt
/2/proj1/vs/
*bat
/3/proj1/vs/
/3/proj2/vs/
/checkprogram/2/2/
*zip
/4/proj1/main/
/4/proj2/main/
/5/proj1/main/
/6/proj1/main/
/7/proj1/main/
/8/proj1/main/
/9/proj1/main/
/10/proj1/main/
makefile

